<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<!-- Veritabanı bağlantısı -->
	<connectionStrings>
		<add name="CarRentalDb"
			 connectionString="Server=DESKTOP-KR485FT\SQLEXPRESS;Database=CarRentalDb;Trusted_Connection=True;TrustServerCertificate=True;"/>
			 <!--providerName="Microsoft.Data.SqlClient" />-->
	</connectionStrings>

	<!-- Sabit admin login bilgileri -->
	<appSettings>
		<add key="AdminUser" value="admin" />
		<add key="AdminPass" value="1234" />
	</appSettings>

</configuration>
